/* app/viewer/page.module.css */

.container {
  position: fixed;
  top: 64px;
  inset-inline: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.viewerWrapper {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  --scale-factor: 1;
}

:global(.rpv-core__viewer) {
  width: 100% !important;
  height: 100% !important;
}

:global(.rpv-core__inner) {
  height: 100% !important;
}

:global(html),
:global(body),
:global(#__next) {
  margin: 0;
  padding: 0;
  height: 100%;
}
